openai
pinecone
pymongo
langchain-text-splitters
python-dotenv
transformers
torch
langgraph
langchain-openai
tavily-python
mcp
mcp-server-fetch
fastapi
pydantic-settings
uvicorn[standard]
firebase-admin
httpx
redis[hiredis]
